@model IEnumerable<JUSTGOTUTOR.Models.Roles>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<table class="table table-bordered">
    <thead class="table-secondary">
        <tr>
            <th>
                @Html.ActionLink("新增", "CreateEdit", ActionService.Controller,
                         new { area = ActionService.Area, id = "0" }, new { @class = "btn btn-primary" })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEnabled)
            </th>
            <th>
                @Html.ColumnSort("RoleNo", @Html.DisplayNameFor(model => model.RoleNo))
            </th>
            <th>
                @Html.ColumnSort("RoleName", @Html.DisplayNameFor(model => model.RoleName))
            </th>
            <th>
                @Html.ColumnSort("Remark", @Html.DisplayNameFor(model => model.Remark))
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("修改", "CreateEdit", ActionService.Controller,
                             new { area = ActionService.Area, id = item.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("刪除", "Delete", ActionService.Controller,
                             new { area = ActionService.Area, id = item.Id },
                             new { @class = "btn btn-danger", onclick = "return confirm('是否確定要刪除?');" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td class="table-wrap">
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
            </tr>
        }
    </tbody>
</table>
