@model IEnumerable<JUSTGOTUTOR.Models.Category2s>

@{
    ViewData["Title"] = "選取課程";
    Layout = "_Layout";
    string str_cate_name = "";
    string str_image_url = "";
    List<Category3s> Category3List = new List<Category3s>();
}

<div class="row">
    <nav class="navbar navbar-expand justify-content-center fixed-top navbar-dark mt-5 ">
        <ul class="navbar-nav py-3">
            @foreach (var item in Model)
            {
                <li class="nav-item mx-3"><a href=#@item.CategoryNo class="nav-link">@item.CategoryNo</a></li>
            }
        </ul>
    </nav>
</div>

<div class="container-fluid selection">
    <div class="row d-flex justify-content-center align-items-center">
        @{
            using (z_repoCategory3s cate3s = new z_repoCategory3s())
            {
                foreach (var item2 in Model)
                {
                    str_cate_name = item2.CategoryName;
                    Category3List = cate3s.GetDataList(item2.CategoryNo, "");

                    <h1 class="text-uppercase text-dark text-center" id=@item2.CategoryNo>
                        @str_cate_name
                    </h1>

                    foreach (var item3 in Category3List)
                    {
                        str_image_url = $"~/images/categorys/category3/{item3.CategoryNo}.jpg";

                        <div class="col-10 col-sm-10 col-md-5 col-lg-5 col-xl-2 my-3 text-center mycard">
                            <img src="@Url.Content(str_image_url)" alt=@str_cate_name />
                            <h2 class="h5 mt-2 mb-0 fw-bold">@item3.CategoryName</h2>
                            <p class="h5">10 courses</p>
                            <a href="@Url.Action("Index","Booking",new {area="", id=item3.CategoryNo} )" class="button"
                                title="按左鍵前往">立即上課</a>
                        </div>
                    }
                }
            }
        }
    </div>
</div>

@section Styles
    {
    <link rel="stylesheet" href="@Url.Content("~/css/class.css")" asp-append-version="true" />
}