@model IEnumerable<JUSTGOTUTOR.Models.Category1s>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsImportment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SortNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnglishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsImportment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
