@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<div class="menu-top-space">
    <div class="row">
        <div class="col col-lg-6 col-12">
            <img src="@Url.Content("~/images/home/about-us_1.jpg")" alt="" class="img-fluid" />
        </div>
        <div class="col col-lg-6 col-12">
            <h6 class="mt-5 text-uppercase">About us</h6>
            <h3>About us</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
                sequi ullam repellendus totam, inventore aliquid rerum quasi
                obcaecati voluptas perspiciatis non amet dolor modi voluptates natus
                repellat dolorem voluptatibus at a ex nam numquam. Ab amet veritatis
                commodi expedita nulla? Doloribus eaque quas hic voluptas impedit
                tempora corrupti blanditiis placeat.
            </p>
        </div>


    </div>
    <div class="row text-center">
        <div class="col">
            <h6 class="mt-5">INSTRUCTORS</h6>
            <h3 class="mb-4">Expert Instructors</h3>
        </div>
    </div>

    <div class="row text-center m-2">
        <div class="col-lg-3 col-md-6 col-12">
            <div class="instructors-box mb-3">
                <div class="instructors-box-size justify-content-center">
                    <img src="@Url.Content("~/images/home/teacher-1.jpg")" alt="" class="img-fluid img-hover-anime" />
                </div>
                <div class="position-relative d-flex justify-content-center instructors-box-Btn">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                        <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-x-twitter fa-2x"></i></a>
                        <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-facebook fa-2x"></i></a>
                        <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                    </div>
                </div>

                <div class="h5 mt-2">Trisa Mayer</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
            <div class="instructors-box mb-3">
                <div class="instructors-box-size justify-content-center">
                    <img src="@Url.Content("~/images/home/teacher-2.jpg")" alt="" class="img-fluid img-hover-anime" />
                </div>
                <div class="position-relative d-flex justify-content-center instructors-box-Btn">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                        <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-x-twitter fa-2x"></i></a>
                        <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-facebook fa-2x"></i></a>
                        <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                    </div>
                </div>
                <div class="h5 mt-2">Jean Wilson</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
            <div class="instructors-box mb-3">
                <div class="instructors-box-size justify-content-center">
                    <img src="@Url.Content("~/images/home/teacher-3.jpg")" alt="" class="img-fluid img-hover-anime" />
                </div>
                <div class="position-relative d-flex justify-content-center instructors-box-Btn">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                        <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-x-twitter fa-2x"></i></a>
                        <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-facebook fa-2x"></i></a>
                        <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                    </div>
                </div>
                <div class="h5 mt-2">Olivia Johnson</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
            <div class="instructors-box mb-3">
                <div class="instructors-box-size justify-content-center">
                    <img src="@Url.Content("~/images/home/teacher-4.jpg")" alt="" class="img-fluid img-hover-anime" />
                </div>
                <div class="position-relative d-flex justify-content-center instructors-box-Btn">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                        <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-x-twitter fa-2x"></i></a>
                        <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-facebook fa-2x"></i></a>
                        <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                    </div>
                </div>
                <div class="h5 mt-2">James Zhou</div>
            </div>
        </div>
    </div>


</div>
