@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<div class="menu-top-space">
    <div class="row">
        <div class="col col-lg-6 col-12" style="overflow: hidden;">
            <img src="@Url.Content("~/images/home/about-us_1.jpg")" alt="" class="img-fluid img-hover-anime" />
        </div>
        <div class="col col-lg-6 col-12">
            <h6 class="mt-5 text-uppercase">About us</h6>
            <h3>關於我們</h3>
            <h5>
                歡迎來到我們的外籍家教媒合平台！我們是一支充滿激情和才華橫溢的團隊，致力於為學生和家長提供高質量的外籍家教服務。無論您是希望提高英語水平、探索新的語言與文化、準備國際考試，或是尋求專業學科的指導，我們都為您提供最合適的家教教育資源。
            </h5>
            <h5 class="mt-5">我們希望能夠成為您在學術和語言學習上的合作夥伴，幫助您實現學習目標，提高自信，拓寬視野。無論您是初學者還是進階者，我們都願意為您提供最優質的家教服務。</h5>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col mt-5">
        <h1 class="mb-4">感謝您選擇我們，與我們一同踏上學習的旅程！</h1>
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <h6 class="mt-5">INSTRUCTORS</h6>
        <h3 class="mb-4">專業師資</h3>
    </div>
</div>

<div class="row text-center m-2">
    <div class="col-lg-3 col-md-6 col-12">
        <div class="instructors-box mb-3">
            <div class="instructors-box-size justify-content-center">
                <img src="@Url.Content("~/images/home/teacher-1.jpg")" alt="" class="img-fluid img-hover-anime" />
            </div>
            <div class="position-relative d-flex justify-content-center instructors-box-Btn">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-x-twitter fa-2x"></i></a>
                    <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-facebook fa-2x"></i></a>
                    <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                </div>
            </div>

            <div class="h5 mt-2">Trisa Mayer</div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
        <div class="instructors-box mb-3">
            <div class="instructors-box-size justify-content-center">
                <img src="@Url.Content("~/images/home/teacher-2.jpg")" alt="" class="img-fluid img-hover-anime" />
            </div>
            <div class="position-relative d-flex justify-content-center instructors-box-Btn">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-x-twitter fa-2x"></i></a>
                    <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-facebook fa-2x"></i></a>
                    <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                </div>
            </div>
            <div class="h5 mt-2">Jean Wilson</div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
        <div class="instructors-box mb-3">
            <div class="instructors-box-size justify-content-center">
                <img src="@Url.Content("~/images/home/teacher-3.jpg")" alt="" class="img-fluid img-hover-anime" />
            </div>
            <div class="position-relative d-flex justify-content-center instructors-box-Btn">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-x-twitter fa-2x"></i></a>
                    <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-facebook fa-2x"></i></a>
                    <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                </div>
            </div>
            <div class="h5 mt-2">Olivia Johnson</div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
        <div class="instructors-box mb-3">
            <div class="instructors-box-size justify-content-center">
                <img src="@Url.Content("~/images/home/teacher-4.jpg")" alt="" class="img-fluid img-hover-anime" />
            </div>
            <div class="position-relative d-flex justify-content-center instructors-box-Btn">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-x-twitter fa-2x"></i></a>
                    <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-facebook fa-2x"></i></a>
                    <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                </div>
            </div>
            <div class="h5 mt-2">James Zhou</div>
        </div>
    </div>
</div>


</div>
