@{
    ViewData["Title"] = "JUST GO TUTOR";
    string str_image_url = "";
    List<Category1s> ImportmentList = new List<Category1s>();
    List<Category1s> NotImportmentList = new List<Category1s>();
    using var cate1 = new z_repoCategory1s();
    ImportmentList = cate1.GetDataList(true);
    NotImportmentList = cate1.GetDataList(false);
    string loginLink = "";

}

<!-- photo carousel part start-->

<div class="container-fluid p-0 m-0">
    <div class="row p-0 m-0">
        <div class="col p-0 m-0">
            <div class="carousel slide img-slide" data-bs-ride="carousel" data-bs-interval="5000">
                <ul class="carousel-indicators list-unstyled">
                    <li class="active" data-bs-target=".img-slide" data-bs-slide-to="0"
                        style="width: 10px; height: 10px; border-radius: 100%"></li>
                    <li data-bs-target=".img-slide" data-bs-slide-to="1"
                        style="width: 10px; height: 10px; border-radius: 100%"></li>
                    <li data-bs-target=".img-slide" data-bs-slide-to="2"
                        style="width: 10px; height: 10px; border-radius: 100%"></li>
                    <li data-bs-target=".img-slide" data-bs-slide-to="3"
                        style="width: 10px; height: 10px; border-radius: 100%"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="@Url.Content("~/images/home/img_1.jpg")" alt="" class="headerCover" />
                    </div>
                    <div class="carousel-item">
                        <img src="@Url.Content("~/images/home/img_2.jpg")" alt="" class="headerCover" />
                    </div>
                    <div class="carousel-item">
                        <img src="@Url.Content("~/images/home/img_3.jpg")" alt="" class="headerCover" />
                    </div>
                    <div class="carousel-item">
                        <img src="@Url.Content("~/images/home/img_5.jpg")" alt="" class="headerCover" />
                    </div>
                </div>
                <!-- carousel-control-prev-icon 大小要調整 -->
                <a href=".img-slide" data-bs-slide="prev" class="carousel-control-prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a href=".img-slide" data-bs-slide="next" class="carousel-control-next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- photo carousel part end-->
<!-- about us part start-->
<div class="container-xxl container-fluid py-5">
    <div class="container">
        <div class="row g-4 align-content-center">
            <div class="col col-lg-3 col-sm-6 col-12">
                <div class="service-item rounded-3">
                    <i class="fa-solid fa-graduation-cap fa-3x m-3"></i>
                    <h5 class="h5">Skilled Instructors</h5>
                    <p class="px-1 justify-content-center aboutusbox">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
                        a minus nulla placeat beatae numquam quidem facere explicabo eos
                        totam.
                    </p>
                </div>
            </div>
            <div class="col col-lg-3 col-sm-6 col-12">
                <div class="service-item rounded-3">
                    <i class="fa-solid fa-earth-americas fa-3x m-3"></i>
                    <h5 class="h5">Online Classes</h5>
                    <p class="px-1 justify-content-center aboutusbox">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
                        a minus nulla placeat beatae numquam quidem facere explicabo eos
                        totam.
                    </p>
                </div>
            </div>
            <div class="col col-lg-3 col-sm-6 col-12">
                <div class="service-item rounded-3">
                    <i class="fa-solid fa-house fa-3x m-3"></i>
                    <h5 class="h5">Home Projects</h5>
                    <p class="px-1 justify-content-center aboutusbox">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
                        a minus nulla placeat beatae numquam quidem facere explicabo eos
                        totam.
                    </p>
                </div>
            </div>
            <div class="col col-lg-3 col-sm-6 col-12" id="About_us" name="About_us">
                <div class="service-item rounded-3">
                    <i class="fa-solid fa-book-open fa-3x m-3"></i>
                    <h5 class="h5">Book Library</h5>
                    <p class="px-1 justify-content-center aboutusbox">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
                        a minus nulla placeat beatae numquam quidem facere explicabo eos
                        totam.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about us part end-->
<div class="container my-2">
    <div class="row">
        <div class="col col-lg-6 col-12" style="overflow: hidden;">
            <img src="@Url.Content("~/images/home/about-us_1.jpg")" alt="" class="img-fluid img-hover-anime" />
        </div>
        <div class="col col-lg-6 col-12">
            <h6 class="mt-5 text-uppercase">About us</h6>
            <h3>關於我們</h3>
            <h5>
                歡迎來到我們的外籍家教媒合平台！我們是一支充滿激情和才華橫溢的團隊，致力於為學生和家長提供高質量的外籍家教服務。無論您是希望提高英語水平、探索新的語言與文化、準備國際考試，或是尋求專業學科的指導，我們都為您提供最合適的家教教育資源。
            </h5>
            <h5 class="mt-5">我們希望能夠成為您在學術和語言學習上的合作夥伴，幫助您實現學習目標，提高自信，拓寬視野。無論您是初學者還是進階者，我們都願意為您提供最優質的家教服務。</h5>
        </div>
        <div class="row text-center">
            <div class="col">
                <h6 class="mt-5 text-uppercase" id="Courses">Courses</h6>
                <h3 class="mb-3">Courses Categories</h3>
            </div>
        </div>

        <div class="row">
            @foreach (var item in ImportmentList)
            {
                str_image_url = $"~/images/categorys/category1/{item.CategoryNo}.jpg";
                <div class="col col-lg-6 col-12">
                    <div class="courses-img">
                        @if (!SessionService.IsLogin)
                        {
                            //最後要開啟，達成預約前要先登入, 登入後學生只能回到起始頁，老師跟管理員可以回到管理頁面，但只有管理員
                            loginLink = @Url.Action("Login", "Web", new { area = "" });
                            @* loginLink = @Url.Action("Index", "Category", new { area = "", id = item.CategoryNo }); *@
                        }
                        else
                        {
                            loginLink = @Url.Action("Index", "Category", new { area = "", id = item.CategoryNo });

                        }
                        @* <a href="@Url.Action("Index" , "Category" , new {area = "" , id = item.CategoryNo})"
                    target="_blank"> *@
                        <a href=@loginLink target="_blank">
                            <img src="@Url.Content(str_image_url)" alt="" class="img-fluid img-hover-anime" />
                            <div class="courses-img-style">
                                <h5 class="courses-h5-style text-uppercase text-dark">@item.CategoryName</h5>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            @foreach (var item in NotImportmentList)
            {
                str_image_url = $"~/images/categorys/category1/{item.CategoryNo}.jpg";


                <div class="col col-lg-3 col-12">
                    <div class="courses-img">
                        @if (!SessionService.IsLogin)
                        {
                            loginLink = @Url.Action("Login", "Web", new { area = "" });
                        }
                        else
                        {
                            loginLink = @Url.Action("Index", "Category", new { area = "", id = item.CategoryNo });

                        }
                        @* <a href="@Url.Action("Index" , "Category" , new {area = "" , id = item.CategoryNo})"
                    target="_blank"> *@
                        <a href=@loginLink target="_blank">
                            <img src="@Url.Content(str_image_url)" alt="" class="img-fluid img-hover-anime" />
                            <div class="courses-img-style">
                                <h5 class="courses-h5-style text-uppercase text-dark">@item.CategoryName</h5>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>

        <!-- popular part start-->
        <div class="row text-center">
            <div class="col">
                <h6 class="mt-5 text-uppercase">Popular</h6>
                <h3 class="mb-4">Popular Courses</h3>
            </div>
        </div>
        <div class="row justify-content-center m-2">
            <div class="col-lg-3 col-12 popular-box p-0">
                <div class="popular-box-size justify-content-center">
                    <img src="@Url.Content("~/images/home/courses-item_German.jpg")" alt=""
                        class="img-fluid img-hover-anime" />
                    <div class="text-center popular-box-btn">
                        <a href="@Url.Action()" class="btn btn-success rounded-start-4 rounded-end-0 m-0">Read More</a>
                        <a href="@Url.Action()" class="btn btn-success rounded-start-0 rounded-end-4 m-0">Join US</a>
                    </div>
                </div>
                <div class="popular-box-size text-center">
                    <h2 class="mt-2">$150.00</h2>
                    <i class="fa-solid fa-star fa-color"></i>
                    <i class="fa-solid fa-star fa-color"></i>
                    <i class="fa-solid fa-star fa-color"></i>
                    <i class="fa-solid fa-star fa-color"></i>
                    <i class="fa-solid fa-star fa-color"></i>
                    <span>(123)</span>
                    <h5 class="mt-3">German Level A1</h5>
                    <h5 class="mt-3 mb-2">Courses for Biginners</h5>
                    <div class="border-top popular-footer-end p-0 m-0">
                        <div class="popular-footer-box">Hanna Hong</div>
                        <div class="popular-footer-box">10 courses</div>
                        <div class="popular-footer-endbox">500 hours</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 popular-box p-0">
                <div class="popular-box-size justify-content-center">
                    <img src="@Url.Content("~/images/home/courses-item_Music.jpg")" alt=""
                        class="img-fluid img-hover-anime" />
                    <div class="text-center popular-box-btn">
                        <a href="@Url.Action()" class="btn btn-success rounded-start-4 rounded-end-0 m-0">Read More</a>
                        <a href="@Url.Action()" class="btn btn-success rounded-start-0 rounded-end-4 m-0">Join US</a>
                    </div>
                </div>
                <div class="popular-box-size text-center">
                    <h2 class="mt-2">$150.00</h2>
                    <i class="fa-solid fa-star fa-color"></i>
                    <i class="fa-solid fa-star fa-color"></i>
                    <i class="fa-solid fa-star fa-color"></i>
                    <i class="fa-solid fa-star fa-color"></i>
                    <i class="fa-solid fa-star fa-color"></i>
                    <span>(123)</span>
                    <h5 class="mt-3">Flute ABRSM Grade 1</h5>
                    <h5 class="mt-3 mb-2">Courses for Biginners</h5>
                    <div class="border-top popular-footer-end p-0 m-0">
                        <div class="popular-footer-box">Hanna Hong</div>
                        <div class="popular-footer-box">10 courses</div>
                        <div class="popular-footer-endbox">500 hours</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 popular-box p-0">
                <div class="popular-box-size justify-content-center">
                    <img src="@Url.Content("~/images/home/courses-item_1.jpg")" alt=""
                        class="img-fluid img-hover-anime" />
                    <div class="text-center popular-box-btn">
                        <a href="@Url.Action()" class="btn btn-success rounded-start-4 rounded-end-0 m-0">Read More</a>
                        <a href="@Url.Action()" class="btn btn-success rounded-start-0 rounded-end-4 m-0">Join US</a>
                    </div>
                </div>
                <div class="popular-box-size text-center">
                    <h2 class="mt-2">$150.00</h2>
                    <i class="fa-solid fa-star fa-color"></i>
                    <i class="fa-solid fa-star fa-color"></i>
                    <i class="fa-solid fa-star fa-color"></i>
                    <i class="fa-solid fa-star fa-color"></i>
                    <i class="fa-solid fa-star fa-color"></i>
                    <span>(123)</span>
                    <h5 class="mt-3">CHESS Level 1</h5>
                    <h5 class="mt-3 mb-2">Courses for Biginners</h5>
                    <div class="border-top popular-footer-end p-0 m-0">
                        <div class="popular-footer-box">Hanna Hong</div>
                        <div class="popular-footer-box">10 courses</div>
                        <div class="popular-footer-endbox">500 hours</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- popular part end-->
        <div class="row text-center">
            <div class="col">
                <h6 class="mt-5">INSTRUCTORS</h6>
                <h3 class="mb-4">Expert Instructors</h3>
            </div>
        </div>

        <div class="row text-center m-2">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="instructors-box mb-3">
                    <div class="instructors-box-size justify-content-center">
                        <img src="@Url.Content("~/images/home/teacher-1.jpg")" alt=""
                            class="img-fluid img-hover-anime" />
                    </div>
                    <div class="position-relative d-flex justify-content-center instructors-box-Btn">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-x-twitter fa-2x"></i></a>
                            <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-facebook fa-2x"></i></a>
                            <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        </div>
                    </div>

                    <div class="h5 mt-2">Trisa Mayer</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="instructors-box mb-3">
                    <div class="instructors-box-size justify-content-center">
                        <img src="@Url.Content("~/images/home/teacher-2.jpg")" alt=""
                            class="img-fluid img-hover-anime" />
                    </div>
                    <div class="position-relative d-flex justify-content-center instructors-box-Btn">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-x-twitter fa-2x"></i></a>
                            <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-facebook fa-2x"></i></a>
                            <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        </div>
                    </div>
                    <div class="h5 mt-2">Jean Wilson</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="instructors-box mb-3">
                    <div class="instructors-box-size justify-content-center">
                        <img src="@Url.Content("~/images/home/teacher-3.jpg")" alt=""
                            class="img-fluid img-hover-anime" />
                    </div>
                    <div class="position-relative d-flex justify-content-center instructors-box-Btn">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-x-twitter fa-2x"></i></a>
                            <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-facebook fa-2x"></i></a>
                            <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        </div>
                    </div>
                    <div class="h5 mt-2">Olivia Johnson</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="instructors-box mb-3">
                    <div class="instructors-box-size justify-content-center">
                        <img src="@Url.Content("~/images/home/teacher-4.jpg")" alt=""
                            class="img-fluid img-hover-anime" />
                    </div>
                    <div class="position-relative d-flex justify-content-center instructors-box-Btn">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-x-twitter fa-2x"></i></a>
                            <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-facebook fa-2x"></i></a>
                            <a href="@Url.Action()" class="mx-1"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        </div>
                    </div>
                    <div class="h5 mt-2">James Zhou</div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="text-center">
<h1 class="display-4">Welcome</h1>
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@



@section Scripts
    {

}