@model JUSTGOTUTOR.Models.Category3s

@{
    ViewData["Title"] = "CreateEdit";
    Layout = "_LayoutAdmin";


    List<SelectListItem> Cate2List = new List<SelectListItem>();
    using var cate2 = new z_repoCategory2s();
    Cate2List = cate2.GetDropDownList(true);
}

@using (Html.BeginForm())
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.Id)
    <div class="row form-group my-3">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.SortNo)
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SortNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SortNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.CategoryNo)
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.CategoryNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CategoryNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.CategoryName)
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.IsEnabled)
        </div>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsEnabled)
                @Html.ValidationMessageFor(model => model.IsEnabled, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.ParentNo)
        </div>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ParentNo, Cate2List, new { @class = "form-control" })
            @* @Html.EditorFor(model => model.ParentNo, new { htmlAttributes = new { @class = "form-control" } }) *@
            @Html.ValidationMessageFor(model => model.ParentNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.EnglishName)
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.EnglishName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EnglishName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-md-2">
            @Html.DisplayNameFor(m => m.Remark)
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr>
    <div class="row form-group">
        <div class="col-md-12">
            <input type="submit" value="異動存檔" class="btn btn-primary" />
            @Html.ActionLink("返回列表", "Index", ActionService.Controller,
                     new { area = ActionService.Area }, new { @class = "btn btn-success" })
        </div>
    </div>
}
